<!-- set up the templates that Handlebars can render onto. -->

<h1> Burger Logger &reg;</h1>

<h2>Add a Burger!</h2>
<p> Tell us the kind of burger sando you'd love to eat.  Our chefs will put in on the menu. Before you know it, you can DEVOUR your tasty creation!!  Chomp-chomp-yum!</p>
<form class="create-form">
  <div class="form-group">
    <label for="newBurger">Burger Description:</label>
    <input type="text" id="newBurger" name="name">
  </div>
  <button class="prepare" type="submit">PREPARE IT!</button>
</form>

<div>
  <img src="../public/assets/css/img/burger-chase.jpg" class="img-circle">
</div>



<h2>Burgers To Devour...</h2>

<ul>
  {{#each burgers}}
    <li>


      {{this.burger}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
      {{/unless}}

        <!-- <button class="change-devour">DEVOUR IT</button> -->

    </li>
  {{/each}}
</ul>

<h2>Burgers Devoured:</h2>
<!-- pseudocoded: -->


<br />
<footer>
  Burger Logger &reg; is a registered Trademark and is not responsible for the consumption of your own creation.  Consuming raw or undercooked meats, poultry, seafood, shellfish, eggs or unpasteurized milk may increase your risk of foodborne illness. <strong>&copy;2017 Gail Izaguirre.  All rights reserved.</strong>
</footer>
